<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetar Senha</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/assets/logo.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="reset">
        <% if(message){%>
            <p class="alert"><%=message%></p>
        <%}%>
        <div class="box">
            <h2>Resetar Senha</h2>
            <br>
            <form class="form" action="/reset_password" method="POST">
                <div class="input-field">
                    <label for="password">Nova senha</label>
                    <input type="password" name="password" id="password" placeholder="Insira sua nova senha" required> 
                    <i class="eye-icon fas fa-eye" onclick="togglePasswordVisibility('password', this)"></i>
                </div>
                <div class="input-field">
                    <label for="password_confirm">Confirmaçāo de senha</label>
                    <input type="password" name="password_confirm" id="password_confirm" placeholder="Confirmar sua nova senha" required> 
                    <i class="eye-icon fas fa-eye" onclick="togglePasswordVisibility('password_confirm', this)"></i>
                </div>
                
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="secret" value="<%= secret %>">
                <input type="submit" class="btn" value="Confirmar">
            </form>
        </div>
    </div>
    <script>
        function togglePasswordVisibility(inputId, element) {
            const input = document.getElementById(inputId);
            if (input.type === "password") {
                input.type = "text"; 
                element.classList.remove("fa-eye");
                element.classList.add("fa-eye-slash");
            } else {
                input.type = "password";
                element.classList.remove("fa-eye-slash");
                element.classList.add("fa-eye"); 
            }
        }
    </script>
</body>
</html>